{{outlet}}
{{cern-toolbar}}

{{top-navbar}}

<div class="main">
    <div id="login-form-container" class="ui stackable two column centered grid">
        <div class="column">
            <div class="ui segment">
              {{login-form
              key=key
              pin=pin
              redirectToMeeting='redirectToMeeting'
              }}
            </div>
        </div>
    </div>
</div>

{{bottom-disclaimer}}


<div id="modal-fault" class="ui modal">
    <div class="header">
      {{t "index.error"}}
    </div>
    <div class="content">
      {{connectionFaultMessage}}
    </div>
    <div class="actions">
        <a href="#" {{action "closeFaultModal"}}
           class="ui cancel button">{{t "index.button.close"}}</a>
    </div>
</div>


<!-- Modal Structure -->
<div id="loadingAppModal" class="ui basic modal">
    <div class="header">Loading...</div>
    <div class="content">


    <p>
      {{#if (is-equal webRTCSupported false) }}
          <div class="ui red horizontal label">
              ERROR
          </div>
      {{/if}}
      {{#if webRTCSupported}}
          <div class="ui green horizontal label">
              OK
          </div>
      {{/if}}
      {{#if (is-equal webRTCSupported null)}}
          <div class="ui active inline loader"></div>
      {{/if}}
        WebRTC supported
        </p>

    <p>
      {{#if (is-equal microphoneAvailable false) }}
          <div class="ui red horizontal label">
              ERROR
          </div>
      {{/if}}
      {{#if microphoneAvailable}}
          <div class="ui green horizontal label">
              OK
          </div>
      {{/if}}
      {{#if (is-equal microphoneAvailable null)}}
          <div class="ui active inline loader"></div>
      {{/if}}
        Microphone detected on the system
      {{#if (is-equal microphoneAvailable false) }}
          . Please, allow access to the microphone to continue. <button class="ui mini primary button" {{action "verifyConfiguration"}}>try again</button>
      {{/if}}
        </p>

    <p>
      {{#if (is-equal browserSupported false) }}
          <div class="ui red horizontal label">
              ERROR
          </div>
      {{/if}}
      {{#if browserSupported}}
          <div class="ui green horizontal label">
              OK
          </div>
      {{/if}}
      {{#if (is-equal browserSupported null)}}
          <div class="ui active inline loader"></div>
      {{/if}}
        Browser supported
        </p>

    <p>
      {{#if (is-equal serverReachable false)}}
          <div class="ui red horizontal label">
              ERROR
          </div>
      {{/if}}
      {{#if serverReachable}}
          <div class="ui green horizontal label">
              OK
          </div>
      {{/if}}
      {{#if (is-equal serverReachable null)}}
          <div class="ui active inline loader"></div>
      {{/if}}
        Session manager available
        </p>
      {{#if microphoneAvailable}}
        {{#if browserSupported}}
          {{#if webRTCSupported}}
            {{#if serverReachable}}
                <p>Everything seems fine. Loading the Vidyo plugin...</p>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
      {{#if errorsWhileLoading}}
          <p>There were some errors while loading. The WebRTC Client cannot be started, please select one of the options
              below to continue.</p>
      {{/if}}
    </div>
  {{#if errorsWhileLoading}}
      <div class="actions">
          <div class="two fluid ui inverted buttons">
              <div class="ui basic inverted button" {{action "goToVidyoPortal"}}>
                  Go
                  to Vidyo Portal
              </div>
              <div class="ui green basic inverted button" {{action "goToDownloads"}}>
                  Use
                  another Vidyo client
              </div>
          </div>
      </div>
  {{/if}}
</div>

