{{top-navbar}}


<div class="main">
    <div id="login-form-container" class="ui stackable two column centered grid">
        <div class="column">
            <div class="ui segment">
              {{'join-meeting/login-form'
              key=key
              pin=pin
              redirectToMeeting='redirectToMeeting'
              }}
            </div>
        </div>
    </div>
</div>

{{bottom-disclaimer}}


<div id="modal-fault" class="ui modal">
    <div class="header">
      {{t "index.error"}}
    </div>
    <div class="content">
      {{connectionFaultMessage}}
    </div>
    <div class="actions">
        <a href="#" {{action "closeFaultModal"}}
           class="ui cancel button">{{t "index.button.close"}}</a>
    </div>
</div>

