{{top-navbar}}

<div class="ui modal login-modal">
    <i class="close icon"></i>
    <div class="content">
      {{#unless loginIsLoading }}
        {{torii-iframe-placeholder}}
      {{else}}

          <div class="ui active inverted dimmer">
              <div class="ui text loader">{{t 'login.loading'}}</div>
          </div>
          <p></p>
      {{/unless}}
    </div>
    <div class="actions">
        <div class="ui cancel button" {{action "closeLoginModal"}}>{{t 'login.cancel'}}
        </div>
    </div>
</div>

<div class="main">
    <div id="login-form-container" class="ui stackable two column centered grid">
        <div class="column">
            <div class="ui center aligned segment">
                <h1 class="ui header">{{t 'login.login_title'}}</h1>
                <p>{{t 'login.login_message'}}</p>
                <button class="ui blue button" {{action "openLoginModal"}}><i class="sign in icon"></i> {{t 'login.button.login'}}</button>
            </div>
        </div>
    </div>
</div>

{{bottom-disclaimer}}

{{outlet}}