<div class="ui two column centered grid">
    <div class="column">

        <p class="center">
            &copy; 2015-{{currentYear}} CERN (European Organization for Nuclear Research)
        </p>
        <p class="center">
          {{#link-to "terms-of-use"}}{{t 'botton-disclaimer.terms_of_use' }}{{/link-to}} - {{#link-to "downloads"}}{{t 'botton-disclaimer.downloads' }}{{/link-to}}
            - {{#link-to "help"}}{{t 'botton-disclaimer.help' }}{{/link-to}} -

            <select {{action 'setLocale' on='change'}}>
              {{#each locales as |loc|}}
                  <option value="{{loc.id}}" selected={{is-equal loc.id i18n.locale}}>
                    {{loc.text}}
                  </option>
              {{/each}}
            </select>
        </p>
        <p class="center">
            <small>v.{{appVersion}}</small>
        </p>
    </div>

</div>
