<div class="ui modal modal-feedback">
    <div class="header">{{t 'feedback-box.send_us_feedback'}}</div>
    <div class="content">
        <p>{{t "feedback-box.send_us_feedback_message"}}</p>
        <div class="ui one column grid">
            <div class="column">
                <form class="ui form">
                    <div class="field">
                      <textarea>{{#each logContent as |person|}}{{person}}{{/each}}</textarea>
                    </div>


                </form>
            </div>

        </div>

    </div>
    <div class="actions">
        <div class="ui green button" {{action "download"}}>{{t "feedback-box.button.download"}}</div>
        <div class="ui button" {{action "clearLog"}}>{{t "feedback-box.button.clear_log"}}</div>
        <div class="ui cancel button">{{t "index.button.close"}}</div>
    </div>
</div>