<div class="ui blue top inverted menu">
    <div class="item">
      {{#link-to "join-meeting"}}<img
              class="vertical-middle"
              src="images/outline_80_white.png"
              height="30"
              alt="CERN Logo"/>
          CERN WebRTC Client
          <small>beta</small>{{/link-to}}
    </div>
    <div class="right menu">
      {{#if session.isAuthenticated}}
          <a class="item" {{action "doNothing"}}>{{t "cern_toolbar.logged_in_as"}} {{session.data.authenticated.user_info.username}}</a>
          <a class="item" href="!#" {{action 'invalidateSession'}}>{{t "cern_toolbar.logout"}}</a>
      {{else}}
        {{#link-to "login" class="item"}}Login{{/link-to}}
      {{/if}}
    </div>

</div>