<div class="ui blue top inverted menu">
    <div class="item">
      {{#link-to "join-meeting"}}<img
              class="vertical-middle"
              src="images/outline_80_white.png"
              height="30"
              alt="CERN Logo"/>
          CERN WebRTC Client
          <small>beta</small>{{/link-to}}
    </div>
    <div class="right menu">
      {{#if session.isAuthenticated}}
          <a class="item" {{action "doNothing"}}><i class="user icon"></i> {{t "top-navbar.logged_in_as"}} {{session.data.authenticated.user_info.username}}</a>
          <a class="item" href="!#" {{action 'invalidateSession'}}><i class="sign out icon"></i>{{t "top-navbar.logout"}}</a>
      {{else}}
        {{#link-to "login" class="item"}}<i class="sign in icon"></i>{{t "top-navbar.login"}}{{/link-to}}
      {{/if}}
    </div>

</div>