{{#if serverAvailable}}
    <button class="right floated circular ui icon button {{if serverAvailable '' 'disabled'}}" {{action "displayConfigurationModal"}}
            title="Configuration">
        <i class="ui icon settings"></i>
    </button>
{{/if}}

{{#if logEnabled}}
    <button class="right floated circular ui yellow icon button" {{action "displayFeedbackModal"}} title="Send us feedback">
        <i class="ui icon bug"></i>
    </button>
{{/if}}

<h2 class="ui header">Join a meeting</h2>

<form class="ui form" {{action "connectAsGuest" on="submit"}} id="login-form">
    <div class="field">
        <label for="roomUrl" data-error="{{roomURLInputInvalidFeedback}}"
               class="active full-width">{{t "login_form.field.room_url"}} *</label>
        <div class="ui fluid action input">
            <div class="ui left icon input">
              {{input type="text" class=roomURLInputClass value=roomUrl name="roomUrl" id="roomUrl" placeholder="https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=XXXXXXXXXXXXXXXXXXXXXXXXXXX"}}
                <i class="call icon"></i>
            </div>
            <button type="button"
                    class="ui button indico-blue" {{action "setVidyoCafeRoomUrl"}}>
                Set Test Room
            </button>
        </div>

    </div>

    <div class="ten wide field">
        <label for="roomPin" data-error="{{roomPinInputInvalidFeedback}}"
               class="active">{{t "login_form.field.room_pin"}}</label>
        <div class="ui left icon input">
          {{input type="password" disabled=(not serverAvailable) value=roomPin id="roomPin" class=roomPinInputClass placeholder=""}}
            <i class="lock icon"></i>
        </div>
    </div>
    <div class="field">
        <label for="guestName" data-error="{{guestNameInputInvalidFeedback}}"
               class="active full-width">
          {{#if session.isAuthenticated}}
            {{t "login_form.field.your_name"}}
          {{else}}
            {{t "login_form.field.guest_name"}}
          {{/if}} *</label>
        <div class="ui fluid action input">
            <div class="ui left icon input">
              {{input type="text" disabled=(not serverAvailable) value=guestName id="guestName" name="guestName" class=guestNameInputClass placeholder=""}}
                <i class="user icon"></i>
            </div>
          {{#if isDevelopmentEnvironment}}
              <button type="button"
                      class="ui button indico-blue" {{action "setRandomGuestName"}}>
                  Set random name
              </button>
          {{/if}}
        </div>
    </div>

    <div class="field">
        <button
                class="ui primary {{if guestName (if roomUrl "" "disabled") "disabled"}} button indico-blue"
                id="connect-meeting-guest">
          {{t "login_form.button.join_meeting" }}
        </button>
    </div>

</form>


{{configuration-box}}
